/*ШРИФТЫ*/
@font-face {
    font-family: 'TrolaLatCyrHeavyIt';
    src: url('../fonts/TrolaLatCyrHeavyIt.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrHeavyIt.woff') format('woff'), url('../fonts/TrolaLatCyrHeavyIt.ttf') format('truetype'), url('../fonts/TrolaLatCyrHeavyIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrolaLatCyrSemibold';
    src: url('../fonts/TrolaLatCyrSemibold.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrSemibold.woff') format('woff'), url('../fonts/TrolaLatCyrSemibold.ttf') format('truetype'), url('../fonts/TrolaLatCyrSemibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
/*    font-family: 'TrolaLatCyr'; */
    src: url('../fonts/TrolaLatCyr.eot');
    src: local('☺'), url('../fonts/TrolaLatCyr.woff') format('woff'), url('../fonts/TrolaLatCyr.ttf') format('truetype'), url('../fonts/TrolaLatCyr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrolaLatCyrHeavy';
    src: url('../fonts/TrolaLatCyrHeavy.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrHeavy.woff') format('woff'), url('../fonts/TrolaLatCyrHeavy.ttf') format('truetype'), url('../fonts/TrolaLatCyrHeavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrolaLatCyrLight';
    src: url('../fonts/TrolaLatCyrLight.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrLight.woff') format('woff'), url('../fonts/TrolaLatCyrLight.ttf') format('truetype'), url('../fonts/TrolaLatCyrLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('../fonts/GraphikLCG-Regular.eot');
    src: local('☺'), url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.ttf') format('truetype'), url('../fonts/GraphikLCG-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('../fonts/GraphikLCG-Semibold.eot');
    src: local('GraphikLCG-Semibold'), url('../fonts/GraphikLCG-Semibold.woff') format('woff'), url('../fonts/GraphikLCG-Semibold.ttf') format('truetype'), url('../fonts/GraphikLCG-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul, p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*XXX  не использовать фиксированную ширину

*/

.center-box {
    max-width: 1254px;
    margin: 0 auto;

    /* СМ */
    /*max-height: 1254px;*/
    /*padding: 0 39px;*/
}

/* Использовать БЭМ */
/* font-weight: normal;  - для всех шрифтов */

/*XXX Зачем фиксированная ширина - диблирование с основным контейнером*/
body {
    width: 100%;
    margin: 0 auto;
    background: #F4F5F6;
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-moz-font-feature-settings: "liga" on;*/
}

/*------------------------------------------header----------------------------------------*/
.header-main {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

/*section navigation-links*/
.navigation-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navigation-links .navigation-links-social {
}

.navigation-links-social .links-social {
    background: url(../img/Shape.svg) no-repeat 0 0;
    padding-left: 35px;
    padding-top: 3px;
    /* В социальных сетях: */
    font-family: 'GraphikLCG-Regular';
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
}

.header-navigation-links .navigation-links-search {

}

.navigation-links-search .links-english {
    margin-right: 30px;
    /* English: */
    font-family: 'GraphikLCG-Regular';
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
}

.navigation-links-search .links-search {
    position: relative;
    top: 2px;
    display: inline-block;
    background: url(../img/search.svg) no-repeat 0 0;
    width: 15px;
    height: 15px;

}

/*header caption*/
.header-main .header-main-caption {
    align-self: center;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.header-main-caption .adaptive-caption {
    display: none;
}

.header-main-caption h1 {
    margin: 0;
    margin-bottom: 8px;
    /* ГОСУДАРСТВЕННАЯ ДУМА: */
    font-family: 'TrolaLatCyrSemibold';
    font-size: 36px;
    color: #393745;
    letter-spacing: -0.32px;
    line-height: 29px;
}

.header-main-caption p {
    /* Федеральное собрание: */
    font-family: 'GraphikLCG-Regular';
    font-size: 16px;
    color: #393745;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

/*section nav-main*/
.header-main .header-main-nav, .footer-main-nav {
    border-bottom: 1px solid #E3E4E4;
}

.header-main-nav ul, .main-navigation ul, .footer-main-nav ul {
    display: flex;
    justify-content: space-between;
    height: 88px;
    align-items: center;
}

.header-main-nav ul li, .main-navigation li, .footer-main-nav li {
}

.header-main-nav li a, .main-navigation a, .footer-main-nav a {
    /* Госдума: */
    font-family: 'GraphikLCG-Regular';
    font-size: 18px;
    color: #393745;
    letter-spacing: 0;
}

.header-main-nav .no-link, .footer-main-nav .no-link {
    /* Деятельность:: */
    font-family: 'GraphikLCG-Regular';
    font-size: 18px;
    color: #999999;
    letter-spacing: 0;
}

/*при наведении*/
.header-main-nav li a:hover, .main-navigation a:hover, .footer-main .footer-main-nav a:hover {
    color: #30D07C;
}

/*---------------------------------------header end-----------------------------------*/

/*---------------------------------------main-----------------------------------*/

main {
}

/*меню*/
/*XXX неверный отступ снизу*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.main-navigation ul {
    width: 656px;
}

/*календарь*/
.select-date {

}

.select-date a {
    display: block;
    width: 316px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 2px;
    font-family: 'GraphikLCG-Regular';
    font-size: 18px;
    color: #393745;
    letter-spacing: 0;
    text-align: center;
    line-height: 52px;
    vertical-align: center;
}

/*article*/
.all-news {
}

.all-news .news-caption {
    font-family: 'GraphikLCG-Semibold';
    font-size: 48px;
    color: #393745;
    letter-spacing: -0.51px;
    border-bottom: 3px solid #393745;
    margin: 0;
    margin-bottom: 25px;
    padding-bottom: 31px;

}

/*блоки новостей*/
.news-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E3E4E4;
    margin-bottom: 50px;
    padding-left: 140px;
    padding-bottom: 48px;
}

.news-time time {
    /*лучше не использовать absolute*/
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin-right: 35px;
    padding-top: 12px;
    font-family: 'GraphikLCG-Regular';
    font-size: 12px;
    color: #393745;
    letter-spacing: 0;
}

.block-content {
    margin-right: 40px;
}

/*xxx неверный отступ снизу*/

.block-content .block-content-caption {
    font-family: 'TrolaLatCyrSemibold';
    font-size: 30px;
    color: #393745;
    letter-spacing: -0.05px;
    line-height: 38px;
    /*xxx*/
    margin: 0;

    margin-bottom: 20px;
}

.block-content-p {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #393745;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;

}

.news-block .img-box {
    padding-top: 14px;
}

.img-box img {
    width: 316px;
    height: 179px;
}

/*--------------------------------footer-------------------------------------*/
.footer-main {

    background: #26262C;
    margin: 0 auto;
    padding-bottom: 87px;
}

/*nav*/
.footer-main .footer-main-nav {
    margin-bottom: 400px;
}

.footer-main .footer-main-nav a {
    color: #FFFFFF;
}

/*info-block*/
.footer-info {
    display: flex;
    justify-content: space-between
}

.footer-info .link-main {
    align-self: flex-end;
}

.footer-info .link-main a {
    font-family: 'TrolaLatCyr';
    font-size: 16px;
    color: #999999;
    line-height: 24px;
}

.footer-info-block p {
    font-family: 'TrolaLatCyr';
    font-size: 16px;
    color: #999999;
    line-height: 24px;
}

.footer-info-block .footer-contacts {
    margin-bottom: 20px;
}

/*contacts*/

.footer-contacts .phone-number {
    color: #FFFFFF;
}

.footer-contacts .address span {
    color: #CBCDD1;
}

/*copyright*/
.footer-info-block .footer-copyright span {
    color: #CBCDD1;
}

/*-------------------------------footer end-----------------------------------*/

/*subscription*/
.subscription {
    background: #30D07C;
    margin: 0 auto;
}

.subscription > .center-box {
    display: flex;
    align-items: center;
    height: 197px;
}

.subscription-caption {
    margin-right: 121px;
}

.subscription-caption h3 {
    font-family: 'TrolaLatCyrSemibold';
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.4px;
    line-height: 43px;
    margin: 0;
    padding-top: 10px;
}

.subscription-caption h3::before {
    content: '';
    display: block;
    position: relative;
    top: -10px;
    width: 39px;
    height: 3px;
    background: #FFFFFF;
}

.subscription-caption p {
    /* Оставьте ваш: */
    font-family: 'GraphikLCG-Regular';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 43px;
}

/*form*/
.subscription-form {
    font-size: 0;
}

.subscription-form input {
    /* Электронная почта: */
    font-family: 'GraphikLCG-Regular';
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;

}

.subscription-form input[type=email] {
    width: 370px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 19px;
    margin-right: 39px;
}

.subscription-form input[type=email]::placeholder {
    color: #FFFFFF;
}

.subscription-form input[type=email]:focus::placeholder {
    transform: translateX(-200px);
    opacity: 0;
    transition: all .3s ease;
}

.subscription-form input[type=submit] {
    width: 170px;
    background: #26262C;
    border: none;
    border-radius: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 31px;
}

.subscription-form a {
    font-family: 'GraphikLCG-Regular';
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
}

/*media query*/

/*width 1024px*/
@media screen and (max-width: 1024px) {
    body {
        width: 1024px;
    }

    .center-box {
        width: 960px;
    }

    .all-news .news-caption {
        display: none;
    }

    .header-main-caption .full-caption, .header-main-caption > p {
        display: none;
    }

    .header-main-caption .adaptive-caption {
        display: block;
    }

    .header-main-nav ul, .main-navigation ul, .footer-main-nav ul {
        height: 61px;
    }

    .header-main-nav li a, .main-navigation a, .footer-main-nav a {
        /* Госдума: */
        font-family: 'GraphikLCG-Regular';
        font-size: 14px;
        color: #393745;
        letter-spacing: 0;
    }

    .header-main .header-main-nav, .footer-main-nav {
        border-bottom: none;
    }

    .header-main .header-main-nav::after, .footer-main-nav::after {
        content: '';
        display: block;
        position: relative;
        bottom: 0;
        left: -32px;
        width: 1024px;
        height: 1px;
        background: #E3E4E4;
    }

    .main-navigation {
        margin-bottom: 10px;
    }

    .select-date a {
        width: 247px;
        height: 37px;
        line-height: 37px;
    }

    .news-block {
        padding-left: 0;
        padding-bottom: 39px;
        margin-bottom: 39px;
        border-bottom: none;
    }

    .news-block::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -32px;
        width: 1024px;
        height: 1px;
        background: #E3E4E4;
    }

    .news-time {
        position: static;
    }

    .block-content .block-content-caption {
        font-family: 'TrolaLatCyr';
        font-size: 24px;
        color: #393745;
        letter-spacing: -0.05px;
        line-height: 29px;
    }

    .block-content-p {
        display: none;
    }

    .news-block .img-box {
        padding-top: 0;
        margin-bottom: 0;
    }

    .img-box img {
        width: 247px;
        height: 140px;
    }

    .footer-main {
        width: 1024px;
    }

    .footer-main .footer-main-nav {
        margin-bottom: 200px;
    }

    .subscription {
        width: 1024px;
    }

    .subscription-caption {
        margin-right: 70px;
    }

    .subscription-caption h3 {
        font-size: 30px;
        padding-top: 7px;
        margin-bottom: -5px;
    }

    .subscription-caption h3::before {
        height: 2px;
    }

    .subscription-caption p {
        font-size: 12px;
    }

    .subscription-form input[type=email] {
        width: 250px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-right: 18px;
        font-size: 16px;
    }

    .subscription-form input[type=submit] {
        width: 120px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-right: 18px;
        font-size: 16px;
    }

    .subscription-form a {
        font-size: 16px;
    }
}

a {
    color:red;
}